# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/CommBank-Web/FileContentIndex/8d2c356b-6d55-4bc1-b87f-f946bbc7b78d.vsidx
.vs/CommBank-Web/FileContentIndex/9249bc86-b3ba-4f44-b8e5-ec4717f093a5.vsidx
.vs/CommBank-Web/FileContentIndex/9a5f6c10-30e5-4065-bf50-dc266c0ea273.vsidx
.vs/CommBank-Web/FileContentIndex/b18f3d19-3f42-463c-a5e3-e9f8fcc8379e.vsidx
.vs/CommBank-Web/FileContentIndex/561213b1-588c-465b-8922-a283db3d4612.vsidx
.vs/CommBank-Web/FileContentIndex/ef1c54a5-c862-4eb4-81f7-7d1f36b54753.vsidx
.vs/CommBank-Web/FileContentIndex/5d1ec056-5fd5-49a8-b029-33a18581789e.vsidx
.vs/CommBank-Web/FileContentIndex/65c1dc03-737d-47f2-9a75-e28d0eb22ce4.vsidx
